
### Conteúdo do `.gitignore`:

```gitignore
# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
data/
venv/
venv_chatbots/
venv_bot/
# Configuração de IDEs
.vscode/
.idea/

# Logs e dumps
*.log
*.sqlite3

# Arquivos de sistema
.DS_Store
Thumbs.db

# Chaves e credenciais
*.env
zuliprc
