
### Conteúdo do `.gitignore`:

```gitignore
# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
data/faiss_docs.pkl
data/faiss_index.index
data/manual_consolidado.pdf
data/retriever.joblib
venv/
venv_chatbots/

# Configuração de IDEs
.vscode/
.idea/

# Logs e dumps
*.log
*.sqlite3

# Arquivos de sistema
.DS_Store
Thumbs.db

# Chaves e credenciais
*.env
zuliprc
